<footer>
    <div id="footer-container">
        <div class="page-links">
            <ul>
                <li>
                    <a href="/" class="text-warning">Home</a>
                </li>
                <li>
                    <a href="/users/profile" class="text-warning">Profile</a>
                </li>
                <li>
                    <a href="#" class="text-warning">About</a>
                </li>
                <li>
                    <a href="#" class="text-warning">Source Code</a>
                </li>
            </ul>
        </div>
        <p>
            <i class="far fa-copyright"></i>Utkarsh Maheria. All Rights Reserved
        </p>
    </div>
</footer>