<div>
    <form method="POST" action="/reset_password/changed">
        <div>
            <label for="password">Enter new Password</label>
            <input type="password" name="password" id="pass1" aria-describedby="emailHelp" required>
        </div>
        <div>
            <label for="confirm_password">Re-Enter new Password</label>
            <input type="password" name="confirm_password" id="pass2"  required>
        </div>
        <input type="hidden" name="access_token" value="<%=access_token%>">
        <button type="submit">Change Password</button>
    </form>
</div>