<div>
    <form method="post" action="/reset_password/send_mail">

        <h3>Please Enter your Email id</h3>
        <label for="email">Email Id</label>
        <input type="email" name="email" id="email" placeholder="abc@example.com" required>
        <h6 class="mt-3 mb-3">
            <strong>Note:</strong> 
            A mail will be sent to this email id where a password reset link
            will be provided. Please follow that link to reset your password.
        </h6>
        <button type="submit">Send</button>

    </form>
</div>