<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
               <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <form action="/users/create" class="form-signin" method="POST">
                <div class="form-label-group">
                  <input type="text" name="name" id="input-name" class="form-control" required autofocus>
                  <label for="input-name">Username</label>
                </div>
  
                <div class="form-label-group">
                    <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp"
                     name="email" required>
                    <label for="input-email">Email</label>
                </div>
                
                <hr>
  
                <div class="form-label-group">
                    <input type="password" class="form-control" id="input-password" name="password" required>
                    <label for="input-password">Password</label>
                </div>
                
                <div class="form-label-group">
                    <input type="password" class="form-control" id="confirm-password" name="confirm_password" required>
                    <label for="confirm-password">Confirm Password</label>
                </div>
  
                <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Register">
                <hr class="my-4">
                <a type="button" href="/users/auth/google" class="btn btn-lg btn-google btn-block text-uppercase">
                    <i class="fab fa-google mr-2"></i> Sign up with Google</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section> 