        <link rel="stylesheet" type="text/css" href="/css/user_profile.css">
        
        <h1>
                The Social Network / User Profile
        </h1>

        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>