@mixin initial() {
    padding: 0px;
    margin: 0px;
    font-size: 1.1rem;
}

footer{
    background-color: black;
    height: auto;
    padding: 15px;
    
    #footer-container{
        display: flex;
        padding: 15px;
        color: white;
        justify-content: space-between;

        i{
            margin-right: 4px;
            font-size: 0.8rem;
        }

        .page-links{
            width: 30%;
        }
    }

    a{
        @include initial();
        text-decoration: none;
    }

    ul{
        @include initial();
        list-style: none;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }

    li{
        display: inline-block;
    }

    p{
        @include initial();
    }
}