@mixin initial() {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

header{
    background-color: rgb(24, 24, 24);
    height: auto;
    
    #header-container{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: white;
    }

    a{
        @include initial();
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    ul, li{
        @include initial();
        list-style: none;
        margin-right: 2px;
    }

    p{
        @include initial();
        font-size: 1.3rem;
        font-weight: 550;
    }
}