<div style="background-color: orange;">

    <p>Hi <%= comment.user.name %>!</p>
    <br>
    <br>
    <p>Your comment <strong> <%= comment.content %> </strong> just go published! </strong></p>
    <br>
    <br>
    <p>Thanks!</p>
</div>