header {
  background-color: #181818;
  height: auto; }
  header #header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white; }
  header a {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem; }
  header ul, header li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    margin-right: 2px; }
  header p {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 550; }
